*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    height: 100%;
    width: 100%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:33px 100px;
}

header h1{
    color: blue;
    font-size: 37px;
}

#left-nav, #right-nav{
    display: flex;
    gap: 75px;
}

#left-nav{
    font-size: x-large;
}

#left-nav a{
    text-decoration: none;
    color: black;
}

#right-nav{
    align-items: center;
}

#right-nav a{
    text-decoration: none;
    color: black;
    font-size: large;
}

#right-nav button{
    color: white;
    padding: 10px 20px;
    border: 1px;
    border-radius: 33%;
    font-size: larger;
    background-color: blue;
}

.ri-menu-line{
    display: none;
}

main{
    background-color: aliceblue;
}

#content{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 50px;
}

#content h1{
    font-size: 66px;
}

#content p{
    font-size: larger;
    padding: 33px 392px;
}

input{
    padding: 15px;
    border: 1px solid;
    border-radius: 5%;
}

#places{
    display: flex;
    padding: 100px;
}

.place{
    display: flex;
}

.place img{
    width: 225px;
    border: 1px;
    border-radius: 50%;
}

.place .description{
    padding: 50px;
}

.place h1{
    margin-bottom: 25px;
}